
  @import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

body {
  margin: 0;
  
  font-family: 'Vidaloka', serif;
 padding: 0;
 background-color:white;
 position: relative;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
